{% extends 'base.html.twig' %}
{% import "_card.html.twig" as component %}


{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    <h1>Hello welcome in symfony-blog.com </h1>
    <p> A blog full of lorem ipsum content</p>
    

    
    <div class="row">
    {% for post in posts %}
        {{ component.card(post.id|url_encode, post.title|e|title, post.content[:100], post.coverPic) }}
    {% endfor %}
    </div>
{% endblock %}
