

{% extends 'base.html.twig' %}
{% import "_card.html.twig" as component %}


{% block title %}Hello welc'home!{% endblock %}

{% block body %}


    <h1>Sign Up</h1>
    <p>Choose email(login) and password</p>
    
    {{ form_start(form) }}  
        {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}