{% macro card(id,title,content,coverPic) %}
<div class="card" >
  <img src="{{ coverPic }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ content }}</p>
    <a href="{{ path('post', {id: id} )}}" >I want more</a>
  </div>
</div>
  
{% endmacro %}