{% macro card(id,title,content,coverPic) %}
  <a class="card-link" href="{{ path('post', {id: id} )}}" >
  <div class="card" >
      <img src="{{ coverPic }}" class="card__img-top" alt="...">
      <div class="card__body">
        <h2 class="card-title">{{ title }}</h2>
        <p class="card-text">{{ content }}...</p>
      </div>
    
  </div>
  </a>
  
{% endmacro %}