{% macro  navbar() %}

<nav class="nav">
    <ul>
        <li><a href="{{ path('home') }}">Home</a></li>
        {% if not is_granted('ROLE_USER') %}
            <li><a href="{{ path('app_login') }}">Log in</a></li>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('app_logout') }}">Log out</a></li>
        {% endif %}
        
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('admin') }}">Admin</a></li>
        {% endif %}

    </ul>
</nav>
  
{% endmacro %}