{% macro card(title,content,coverPic) %}
  <div class="card" style="width: 14rem;">
  <img src="{{ coverPic }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ content }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
  
{% endmacro %}